<% 

#
# Page a propos
# http://preview.coinvest.fr:3000/more/about
#

@about = <<-eos

<h1>À propos de Coinvest.fr</h1>

<p>Coinvest.fr est une plateforme communautaire qui facilite la rencontre de deux types de personnes :
<b>Des entrepreneurs innovants
Des investisseurs issus du grand public</b></p>
 
<p>Cette plateforme repose sur le « crowdfunding » (ou financement par la foule) afin de permettre aux porteurs de projets de financer leurs idées originales. Les premiers euros sont généralement les plus difficiles à obtenir et pourtant, les jeunes entreprises ont des besoins financiers indispensables au bon démarrage de leur activité. Coinvest.fr est là durant toute la période d’amorçage afin de faciliter le lancement des projets innovants.</p>
 
<p>Sur Coinvest.fr, vous pouvez parcourir deux rubriques distinctes qui diffèrent selon la contrepartie offerte par l’entrepreneur :</p>
 
<p> <h3>Les start-up innovantes</h3> Cette catégorie regroupe les jeunes entreprises à fort potentiel qui cherchent à financer le démarrage de leur activité. La contrepartie offerte est une part dans l’entreprise, ce qui signifie que l’investisseur devient associé/actionnaire. Ce type de projet se veut généralement durable, avec l’espoir de voir grandir l’entreprise sur le long terme.</p>

<p><h3>Les projets originaux</h3>Ce sont des projets ponctuels qui permettent la réalisation d’une idée nouvelle sur le court terme. L’investisseur qui soutient un projet reçoit une récompense personnalisée qui varie d’un projet à l’autre. C’est par exemple le cas de l’organisation d’un concert ou du lancement d’une nouvelle ligne de produits !</p>
 
<p><h2>Quels sont les avantages pour les investisseurs ?</h2></p>

<p>Dans la partie Entreprise</p>
 
<p><h3>L’Engagement</h3> Les investisseurs ne font plus qu’un avec le projet et peuvent directement se mettre en relation avec l’entreprise. L’investisseur se transformer en business angel et participer à la vie de l’entreprise si le projet lui tient à cœur. </p>
 
<p><h3>La Sureté</h3> Tout aide pour l’entreprise est la bienvenue, cela ouvre des opportunités autant pour l’investisseur que pour la personne réclamant les fonds. Cette interactivité vous permet de vous rassurer quant à la sureté de votre investissement. </p>
 
<p><h3>Le Retour</h3> Bien sûr cette catégorie se base aussi sur le retour sur investissement, quand un investisseur donne sur argent, il est normal qu’il attende quelque chose en retour.  </p>
 
<p><h2>Dans la partie Soutient de projets:</h2></p>
 
<p>l’investisseur se verra proposé différent projets  pouvant être aussi bien en rapport avec un produit ou service innovant:</p>
 
<p><h3>La curiosité</h3> financier les projets qui se trouve à côté de chez vous et dont vous ignoriez l’existence.</p>

<p><h3>La passion et l’engagement</h3> Aider les projets qui vous tiennent à cœur ou ceux qui ont une cause humaine.</p>

<p><h3>Un possible retour en nature</h3> de la part de la personne menant le projet, par exemple des remerciements, une reduction sur le service ou produit, ou le produit en lui meme.</p>

<p><h2>Quels sont les avantages pour les personnes déposant les projets ?</h2></p>

<p>Pour tous les types de projets, les bénéfices sont presque les mêmes c’est-à-dire :
 
<b>Un financement important</b> qui permet de réaliser son projet
 
<b>Un réseau indéniable</b>, ils peuvent toujours demander des conseils aux personnes </p>



eos

%>
