<%

#########################################
#
# Projet : http://preview.coinvest.fr:3000/new/project
#

#
# Type de création : projet
#
@title_intro_project = 'Créer un projet'
@intro_project = <<-eos
<p>Bienvenue sur la page de création de Projet, où vous pouvez commencer par indiquer les principales informations de votre projet !</p>
    <p><b>Ce n'est pas la page finale</b>, vous pourrez, juste après paufiner chaque informations de votre projet. Et une fois que vous pensez qu'il est prêt <b>vous pourrez l'envoyer à l'équipe Coinvest.</b></p>
    
eos




#########################################
#
# Projet : http://preview.coinvest.fr:3000/new/enterprise
#



#
# Type de création : entreprise
#
@title_intro_company = 'Créer une entreprise'
@intro_company = <<-eos 
    <p>Bienvenue sur la page de création d'entreprises, où vous pouvez commencer par indiquer les principales informations de votre projet !</p>
    <p><b>Ce n'est pas la page finale</b>, vous pourrez, juste après paufiner chaque informations de votre projet. Et une fois que vous pensez qu'il est prêt <b>vous pourrez l'envoyer à l'équipe Coinvest.</b></p>
eos

%>
