<%

#
# FAQ
#

#
# La FAQ est dynamique veuillez suivre le meme schema pour chaque question !
# CAD :
# <h3>LA QUESTION</h3>
# <div><p>LA REPONSE</p></div>
#
# sinon ca marche pas :D

@faq = <<-eos


<center><h1>Faq</h1></center>
<br/>

<div id="faqs">

<h3>Qui peut investir dans une entreprise ou soutenir un projet?</h3><div><p>Coinvest.fr permet à chaque internaute de pouvoir investir dans une entreprise innovante en création ou soutenir un nouveau projet.</p></div><h3>Comment fonctionne le système de crédit?</h3><div><p>Lorsque vous créditer votre compte avec de l’argent, celui-ci est transmit sur votre compte en ligne. vous pouvez à partir de la choisir de placer vos crédit sur les entreprises et les projets de votre choix.</p></div><h3>Puis-je investir sur deux projets avec les mêmes crédit?</h3><div><p>Oui, pour cela il vous suffit de cliquer sur utiliser Mes crédits déjà en ligne.</p></div><h3>Lorsque j’investis sur deux projets, lesquels sera choisit?</h3><div><p>Lorsqu’un projet peut se concrétiser grâce aux fonds placés par les coinvesteurs sur plusieurs projets, les fond sont utilisées en premier pour ce projet. </p></div><h3>Quels sont les moyens de paiement mis à ma disposition?</h3><div><p>Le paiement par carte bleu , visa, mastercard et virement bancaire sont mis a votre disposition. Coinvest.fr vous conseille de payer par virement bancaire pour de paiement supérieur à 1000€ .</p></div><h3>Le paiement en ligne est-il sécurisé?</h3><div><p>Le paiement passe directement par la plate-forme sécurisé de notre banque. La banque s’occupe donc de la transaction dans son intégralité et est donc extrêmement sécurisé.</p></div><h3>Quels sont les critères de sélection des projets?</h3><div><p>Les projets présents sur coinvest.fr sont de projets à caractère innovant. Coinvest.fr s’assure du sérieux des porteurs de projet en analysant les business plans dans le cadre des entreprises et en faisant passer un entretient a chaque entreprise et porteur de projet pour s’assurer.</p></div><h3>Qui peut soumettre une entreprise ou un projet sur coinvest.fr pour récolter des fond?</h3><div><p>Tout le monde. L’important c’est uniquement d’être motiver, de croire en son projet, que ce projet soit novateur et innovant et qu’il intéresse le plus de monde possible.</p></div><h3>Comment fonctionne le classement des projets?</h3><div><p>Chaque utilisateur de coinvest peut voter pour des projets validée par l'équipe coinvest.fr mais pas encore ouvert à la récolte de fond. Les projets qui récoltente le plus de vote seront les premier à être ouvert à la récolte de fond.</p></div><h3>Que se passe t-il si un projet ne récolte pas les fond nécessaires à son élaboration?</h3><div><p>Les fonds sont reversé dans vos crédit et vous pouvez librement soutenir un autre projet.</p></div><h3>Est-il possible de récupérer mon argent?</h3><div><p>Oui, dès que l'argent est dans votre compte crédit, il vous est possible de faire une demande de virement de vos fonds. Cependant les frais de banque liés au paiement en ligne seront réduit du montant total du virement. Ces frais s'élève à hauteur de 1,5% du virement et nous permet donc d'éviter des personne malveillantes qui voudraient mettre et retirer leurs fonds pour nous générer des frais.</p></div><h3>A combien de temps se limite les collectes de fonds?</h3><div><p>Pour une entreprise ou un projet le temps de collecte de fond est limitée à 6 mois afin que le plus de personnes possible aient la possibilité de soumettre leurs projet et de les voirent ouvert à la collecte de fonds.</p></div><h3>Comment coinvest.fr se rémunère?</h3><div><p>La plate-forme coinvest.fr prélève un pourcentage sur les projets directement et non sur l'investisseur. Ce pourcentage est de 5% des sommes uniquement si les projets sont entièrement financé. Cette rémunération nous permet de couvrir tout les frais lié à la tenue de l'activité (frais bancaire, serveur, web développeur, ...).</p></div><h3>Pourquoi remplir un business plan standardisé?</h3><div><p>Le but de notre plate-forme est de rendre l'investissement dans des entreprise et des projets accessible à tous, c'est pourquoi il est important que le business plan soit court (une page) simple et standardisé afin que les investisseurs puissent facilement se repérer entre les différents projets.</p></div><h3>Est-il plus important de mettre un texte ou une vidéo?</h3><div><p>Le but est de convaincre un maximum de personne que votre idée est la meilleur, la plus novatrice, et donc il est parfois plus convaincant et accessible de regarder une vidéo  que de lire un long texte. A vous de trouver l'équilibre entre ces deux options.</p></div><h3>Combien de fonds puis-je récolter?</h3><div><p>Coinvest limite la collecte de fond à hauteur de 100 000€ pour l'ensemble des projets. Il est cependant possible pour les soutiens de projets de récolter plus de 100% des fonds demandé.</p></div>

<h3>Qu'est ce que Coinvest?</h3>
<div><p>Reponse</p></div>

<h3>Qu'est ce que Coinvest?</h3>
<div><p>Reponse</p></div>

<h3>Qu'est ce que Coinvest?</h3>
<div><p>Reponse</p></div>


<h3>This is question 1?</h3>
<div>
  <p>This is the answer to question #1.  Pellentesque habitant morbi....</p>
</div>

<h3>This is question 2?</h3>
<div><p>This is the answer to question #2.  Pellentesque habitant morbi....</p></div>


</div>




eos


%>
