
<%

# PIED DE PAGE

@part_one = <<-eos
  <a href="#{plus_comment_ca_marche_path}">À propos</a><br/>
<a href="#{plus_qui_sommes_nous_path}">Qui sommes-nous ?</a><br/>
<a href="#{plus_faq_path}">FAQ</a><br/>
<a href="#{plus_contactez_nous_path}">Contactez-nous</a><br/>
<a href="#{plus_conditions_generales_path}">Conditions générales</a><br/>

eos

@part_two = 'Duis dictum feugiat bibendum. Sed at metus eu est dictum vulputate. Nullam eget nisi leo. Quisque vel libero eu est feugiat congue sed at orci. Nam convallis mollis libero, et faucibus arcu hendrerit non.'

@part_three = 'Duis dictum feugiat bibendum. Sed at metus eu est dictum vulputate. Nullam eget nisi leo. Quisque vel libero eu est feugiat congue sed at orci. Nam convallis mollis libero, et faucibus arcu hendrerit non.'

%>
