
<%
#
# Pade de preview entre le choix du type de projet et le formulaire
#


@title_preview = 'Bienvenue sur le dépôt de projet Coinvest.fr !'
@sub_title_preview = 'Creer un projet sur Coinvest est très simple'

@title_rules_preview = 'Les règles pour déposer un projet sur Coinvest.fr'

# Chaque nouvelle regle doit etre preceder et suivi d'un <li> pour le debut et un </li> pour la fin

@rules_preview = <<-eos
	<li>1. Un projet sucessfull c'est cool</li>
	<li>. Sisi je te jure</li>
	<li>3. En plus ca peut te rapporter plein de $$</li>
eos

%>
