<% 

#
# Page a propos
# http://preview.coinvest.fr:3000/more/about
#

@who = <<-eos
<h1>L'équipe</h1>

<img align=right src="http://2.bp.blogspot.com/_qqIY3-Wmdjo/TA6kpO-1iyI/AAAAAAAAABY/LAQ7VjfuN_8/s1600/Livros_02.gif" />

<p><b>Kylian Waroquet :</b> est notre âme créative et est à l’origine de Coinvest.fr. Kylian a travaillé dans une entreprise de conseil en Allemagne, où il a suivi des projets et étudié le marché de différentes industries. Fort de cette expérience et de sa volonté de vivre de son propre chef, sa détermination est inébranlable et il va jusqu’au bout de ses idées.
Mis à côté ses activités de gérance, Kylian analyse et assure l’adéquation des start-up avec les exigences de coinvest.fr. Il s’agit de trouver des entrepreneurs fiables qui portent des projets innovants et réalisables, de telles manières à ce que tout investisseur puisse trouver son coup de cœur.</p>
 
 
<p><b>Theo Forssell :</b> Fort de son expérience à l’étranger, Théo a amassé une certaine rigueur de travail, qui l’oblige à aller jusqu’au fond des dossiers : aucun détail ne peut être mis de côté avec lui. Ayant suivi un MASTER en Finance d’Entreprise, il évaluera les business plans des entrepreneurs intéressés par notre plateforme.
De plus, ayant de bonnes connaissances en informatique, il a un rôle important dans l’élaboration du site avec notre webmaster.</p>
 
 
<p><b>Pierre Maurice :</b> Auditeur dans une entreprise agricole et ayant un passé de contrôleur de gestion dans différentes entreprises, Pierre maîtrise la comptabilité sur le bout de ses doigts. De ce fait il est responsable des comptes de notre société et s’assure du respect de nos engagements envers nos clients, ainsi qu’auprès de nos partenaires. Dans l’équipe Pierre est le calme en personne : C’est donc lui qui apaise les situations délicates et  passionnées.</p>
 
 
<p><b>Jérémy Le Clanche :</b> Jérémy a décidé de s’engager dans Coinvest pour permettre à chacun d’investir autrement, auprès d’entrepreneurs innovants et engagés. Spécialisé dans la logistique, il est organisé et structuré dans son travail.
Remettant toujours tout en question, c’est lui qui nous fait redescendre sur terre et nous remet dans la bonne direction. Jérémy est notamment responsable de la promotion de notre site auprès des entrepreneurs.</p>
 
 
<p><b>Pierre Martin :</b> Attiré par ce nouveau moyen de financement permettant à tout le monde de participer dans le monde entrepreneurial, Pierre est impatient de rencontrer de nouvelles personnes entreprenantes.
Fort de son expérience en tant qu’entrepreneur social et de son sens du contact, Pierre sais tisser des liens vers et au travers de tous nos partenaires. De plus, c’est lui qui se charge de choisir les projets qui intègrent le site et qui gère tous les projets au quotidien.</p>
 
<p><b>Alexandre Strzelewicz :</b> Passionné d'informatique et étudiant à l'Epitech Paris, Alexandre est constamment à la recherche des dernières technologies pour répondre le mieux possible aux demandes d'aujourd'hui. Ses "main words" sont trouver des solutions simples et adaptées pour des problèmes complexes.</p>

eos

%>

