
<a href="http://twitter.com/share" class="twitter-share-button" data-url="<%%= url %>" data-text="<%= text_shared %>" data-count="horizontal" data-via="Coinvest">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<!-- <iframe src="http://www.facebook.com/plugins/like.php?app_id=211255322252682&amp;href=<%%h url %>&amp;send=false&amp;layout=button_count&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:21px;" allowTransparency="true"></iframe> -->
