<div class="container_4">
  <!-- <table> -->
  <!--   <tr> -->
  <!--     <center><h4>Résumé</h4></center> -->
  <!--   </tr> -->
  <!--   <tr> -->
  <!--     <th>Argent prévu</th> -->
  <!--     <td><%= @project.wish_money %></td> -->
  <!--   </tr> -->
  <!--   <tr> -->
  <!--     <th>Fin prévue</th> -->
  <!--     <td><%= time_ago_in_words(@project.date_end_wish) %></td> -->
  <!--   </tr> -->
  <!--   <tr> -->
  <!--     <th>Part de capital</th> -->
  <!--     <td><%= @project.capital_stock_type %></td> -->
  <!--   </tr> -->
  <!--   <tr> -->
  <!--     <th>Récompense personnalisée</th> -->
  <!--     <td><%= @project.personalized_reward %></td> -->
  <!--   </tr> -->
  <!--   <tr> -->
  <!--     <td> -->
  <!-- 	<input type="button" value="Investir"> -->
  <!--     </td> -->
  <!--   </tr> -->
  <!--   <tr> -->
  <!--     <td> -->
  <!-- 	<input type="button" value="Suivre"> -->
  <!--     </td> -->
  <!--   </tr> -->
  <!-- </table> -->
</div>

<!-- <div class="progressbar container_4"> -->
<!-- </div> -->
