<div class="prefix_3 grid_10 suffix_3">
  <div class="generic-content">
    <center>
      <br/>
      <h3>Felicitation !</h3>
      <p>Votre achat de contrepartie a bien été pris en compte.<br/>
	<center>
	  <a href="<%= @counterpart.project.get_url %>">Retourner au projet</a>
	</center>
	<br/>
    </center>
  </div>
</div>
