<h1>Bienvenue administrateur</h1>

<style>
  h3 {
  margin-bottom : 3px;
  }
</style>

<h3>Projets en attente de validation</h3>
<%= link_to "Accés", admin_actions_projets_en_attente_path %>

<h3>Accés au profil d'utilisateurs complet</h3>
<%= link_to "Accés", admin_actions_profils_utilisateur_path %>

<h3>Données en base de données</h3>
<%= link_to "Accés", rails_admin_path %>

<h3>Rapporter un bug</h3>
<%= link_to "Accés", bugs_path %>

