@import "variable";
@import "function";

#project_pagination {
    /* text-align : right; */
    /* margin-right : 27px; */

    margin-left : 10px;
    .pagination {
        font-size: 11px;

        margin: 0;
        padding: 3px 0 4px;
    }
    .pagination a,
    .pagination span {
        padding: 3px 3px 2px;
    }
    .pagination .disabled {
	display : none;
        background:none repeat scroll 0 0 transparent;
        border:medium none;
        color:#999999;
        cursor:default;
    }
    .pagination a {
	text-align : center;
	padding : 3px 12px 3px 12px;
	margin-top : 8px;
	background-color : $black_grey;
	color : $color_orange;
	font-weight : bold;
	font-size : 1.1em;
	cursor : pointer;
	border : 1px solid black;	    
	@include rounded(3px);

    }
    .pagination a:hover {

        color:#FFFFFF;
        text-decoration:none;
	background-color : $color_orange;
	color : $black_grey;

    }
    .pagination .current {}
    .pagination .current {
	text-align : center;
	padding : 3px 12px 3px 12px;
	margin-top : 8px;
	border : 1px solid black;	    
	font-weight : bold;
	font-size : 1.1em;
	@include rounded(3px);	
    }
    .pagination .current a:hover {

    }

    .pagination .prev_page {

    }
    .pagination .next_page {

    }
}

  